# Web Scrapping Assignment -2

In [74]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import  NoSuchElementException
from selenium.webdriver.chrome.options import Options

In [2]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

1. first get the webpage https://www.naukri.com/

In [3]:
url='https://www.naukri.com/'
driver.get(url)

2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.

In [6]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys('Bangalore')

3. Then click the search button

In [9]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")
search_btn.click()

4. Then scrape the data for the first 10 jobs results you get.

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_title.append(i.text)
    Job=job_title[:10]

In [12]:
Job

['Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Analyst & Designer - Software - Data Analysis',
 'Senior Analyst - Data Science',
 'Assoc/Analyst DMS(Advanced Analytics)',
 'Assoc/Analyst DMS(Advanced Analytics)',
 'Data Analyst SAS+Alteryx',
 'People Analytics - Data Analyst',
 'Senior Analyst-Data Management',
 'Senior Data Analyst IN4']

In [13]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags:
    job_location.append(i.text)
    loc=job_location[:10]
loc

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
    com=company_name[:10]
com

['Gaussian Networks Private Limited',
 'Tata Consultancy Services Ltd.',
 'HyreFox Consultants Pvt Ltd',
 'Tiger Analytics India LLP',
 'Time Analytic & Shared Services Private Limited',
 'Meredith Corporation',
 'Podium Systems',
 'Marvell India Pvt Ltd',
 'Accenture Solutions Pvt Ltd',
 'Walmart Labs']

In [17]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in exp_tags:
    experience_required.append(i.text)
    exp=experience_required[:10]
exp

['3-5 Yrs',
 '6-11 Yrs',
 '5-7 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '4-9 Yrs',
 '3-5 Yrs',
 '5-8 Yrs',
 '8-10 Yrs']

5. Finally create a dataframe of the scraped data.

In [18]:
Job_Bangalore={'Job':Job,'Location':loc,
              'Company':com,'Experience Required':exp}
Job_Bangalore=pd.DataFrame(data=Job_Bangalore)
Job_Bangalore

,Job,Location,Company,Experience Required
0,Senior Data Analyst,"Gurgaon/Gurugram, Bangalore/Bengaluru",Gaussian Networks Private Limited,3-5 Yrs
1,Tcs Hiring For MDM (master data management) Da...,"Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,6-11 Yrs
2,Analyst & Designer - Software - Data Analysis,Bangalore/Bengaluru,HyreFox Consultants Pvt Ltd,5-7 Yrs
3,Senior Analyst - Data Science,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Tiger Analytics India LLP,2-7 Yrs
4,Assoc/Analyst DMS(Advanced Analytics),Bangalore/Bengaluru,Time Analytic & Shared Services Private Limited,2-5 Yrs
5,Assoc/Analyst DMS(Advanced Analytics),Bangalore/Bengaluru,Meredith Corporation,1-3 Yrs
6,Data Analyst SAS+Alteryx,"Pune, Chennai, Gurgaon/Gurugram, Bangalore/Ben...",Podium Systems,4-9 Yrs
7,People Analytics - Data Analyst,Bangalore/Bengaluru,Marvell India Pvt Ltd,3-5 Yrs
8,Senior Analyst-Data Management,Bangalore/Bengaluru,Accenture Solutions Pvt Ltd,5-8 Yrs
9,Senior Data Analyst IN4,Bangalore/Bengaluru,Walmart Labs,8-10 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

1. First get the webpage https://www.naukri.com/

In [31]:
url='https://www.naukri.com/'
driver.get(url)

2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.

In [32]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

search_location=driver.find_element_by_id('qsb-location-sugg')
search_location.send_keys('Bangalore')

3. Then click the search button

In [33]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

4. Then scrape the data for the first 10 jobs results you get.

In [34]:
job=[]
loc=[]
comp=[]
desc=[]

In [35]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title:
    job.append(i.text)
    job=job[:10]
job

['Senior Data Analyst',
 'Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Senior Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'SENIOR DATA ANALYST']

In [36]:
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in locations:
    loc.append(i.text)
loc=loc[:10]
loc

['Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru']

In [37]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company:
    comp.append(i.text)
    
comp=comp[:10]
comp

['Gaussian Networks Private Limited',
 'Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'AVE-Promagne',
 'Virtusa Consulting Services Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'McAfee Software (India) Pvt. Ltd']

Scraping Full Job descreption using Exception Handling

In [38]:
from selenium.common.exceptions import  NoSuchElementException

In [39]:
url_job=[]
for i in title:
    url_job.append(i.get_attribute('href'))

for k in url_job[0:10]:
    try:
        
        driver.get(k)
        descript=driver.find_element_by_xpath("//div[@class='dang-inner-html']").text
        desc.append(descript)
    except NoSuchElementException:
        desc.append('NA')

desc=desc[:10]
desc

['Gauss Networks is seeking a highly motivated and self-driven Data Analyst to join the organization. As a Data Analyst, you will be responsible for helping define, create, and track key business and customer metrics. You will access and compile data sets from various sources for exploratory and pre-defined analyses; audit data sets for completeness, validity, and other pertinent data health measures; and support evaluation of data sets for analytical possibilities and pitfalls. You will be responsible for concisely communicating complex findings to non-technical internal and external stakeholders. We are seeking a candidate that has a desire to learn, a collaborative attitude, strong technical skills, and the ability to deliver concise communication to a variety of stakeholders.\n\nMinimum Qualifications\nProficiency in Python\nTechnical expertise regarding data models, database design development, data mining and segmentation techniques\nBachelors Degree in Information Systems, Management Information Systems, Mathematics, Statistics, Actuarial Science, Analytics, or related field, or equivalent relevant work experience\nAt least 3 years of data analysis work experience including data management, transformation and visualization\nConversant with SQL and a sound understanding of relational databases\n\nPreferred Qualifications\nKnowledge of Graph Theory or Graph Databases\nPrior experience with data analysis and visualization\nPrior experience in ML - predictive modeling, tensor flow, NLP\n\nExpectations\nWilling to travel up to 40% as needed\nWilling to work additional or irregular hours as needed',
 'Roles and Responsibilities\n\n8+ years of experience working as senior data/system analyst\n3+ years of experience in credit, finance, and regulatory domain/data\nWell versed with data management, data governance and data quality process and frameworks\nWorking knowledge of data mapping, lineage, banking data, requirements, and data dictionary document\nAbility to write SQL, perform data analysis, experience with data warehouse, data marts, ETL process\nGood communication skill\nExpertise in data management, data governance and data quality process and frameworks, strong in SQL, Datawarehouse, ETL concepts',
 'Dear Candidates\n\nWe have a Immediate requirement of Business Data Analyst for one of our Client at Bangalore Location.\n\nSummary\nLocation: Bangalore\nExperience: 5+  years experience level is required.\nPosition:  Business Data Analyst\nImmediate joiners preferred within 15 days joiners acceptable.\n\nJD for Business Data Analyst:\n\nJob Summary\n\nDevelop, maintain, and take ownership of key Business Metrics and Dashboards by engaging with stakeholders.\nAutomate existing Reports and Dashboards using Power Automate, Power Query, VBA and Develop data models using Visual Studio.\nPerform ETL/ELT operations and write automation/job scripts using Python/Shell.\nConfigure and manage data sources- Oracle, MS SQL Server, MySQL.\nDevelop and deploy cloud data models on Azure/AWS/Google Cloud\nCreate Continuous Integration and Deployment pipelines of reports and Dashboards\nSupport and work alongside a cross-functional team on the latest technologies\n\nJob Requirements\n\nHands-on experience with Tableau Development\nData Cleaning, Massaging, Writing Complex calculations\n\n-DB tools: Oracle, MS SQL server\n\n-R and/or Python with be an advantage.\n\n-Experience in Power BI would be a plus.\n\nExperience with open-source technologies and cloud services like Azure Analysis Services.\nExperience in Machine Learning is a plus\nCommand over advanced MS Excel, DAX Formulas, Power Point\nExcellent critical thinking skills with Strong attention to details\nSelf starter and Self Propelled who can work with minimum management instruction\nExcellent Business analysis and analytical skills\nTeam player with ability to engage with multiple stakeholders in different time-zones\nExcellent communication skills\nExperience with engaging with Senior Management\nSCM/Operations domain knowledge as well as experience with Tools like Anaplan would be an added advantage\n\nEducation\n\nBachelors Degree or Masters in Computer Science, Engineering, Data Science, or a relevant field.\n\nTotal relevant experience: 5 Plus years\n\nRegards\nNaveen Kumar N\nMail id: naveen_k@trigent.com\nContact no: 9108228912 (Call between 9:30 Am to 6:30 Pm on Weekdays only)',
 'Dear Candidates\n\nWe have a Immediate requirement of Business Data Analyst for one of our Client at Bangalore Location.\n\nSummary\nLocation: Bangalore\nExperience: 5+  years experience level is required.\nPosition:  Business Data Analyst\nImmediate joiners preferred within 15 days joiners acceptable.\n\nJD for Business Data Analyst:\n\nJob Summary\n\nDevelop, maintain, and take ownership of key Business Metrics and Dashboards by engaging with stakeholders.\nAutomate existing Reports and Dashboards using Power Automate, Power Query, VBA and Develop data models using Visual Studio.\nPerform ETL/ELT operations and write automation/job scripts using Python/Shell.\nConfigure and manage data sources- Oracle, MS SQL Server, MySQL.\nDevelop and deploy cloud data models on Azure/AWS/Google Cloud\nCreate Continuous Integration and Deployment pipelines of reports and Dashboards\nSupport and work alongside a cross-functional team on the latest technologies\n\nJob Requirements\n\nHands-on experience with Tableau Development\nData Cleaning, Massaging, Writing Complex calculations\n\n-DB tools: Oracle, MS SQL server\n\n-R and/or Python with be an advantage.\n\n-Experience in Power BI would be a plus.\n\nExperience with open-source technologies and cloud services like Azure Analysis Services.\nExperience in Machine Learning is a plus\nCommand over advanced MS Excel, DAX Formulas, Power Point\nExcellent critical thinking skills with Strong attention to details\nSelf starter and Self Propelled who can work with minimum management instruction\nExcellent Business analysis and analytical skills\nTeam player with ability to engage with multiple stakeholders in different time-zones\nExcellent communication skills\nExperience with engaging with Senior Management\nSCM/Operations domain knowledge as well as experience with Tools like Anaplan would be an added advantage\n\nEducation\n\nBachelors Degree or Masters in Computer Science, Engineering, Data Science, or a relevant field.\n\nTotal relevant experience: 5 Plus years\n\nRegards\nNaveen Kumar N\nMail id: naveen_k@trigent.com\nContact no: 9108228912 (Call between 9:30 Am to 6:30 Pm on Weekdays only)',
 'Your responsibilities will include but not limited to:\n\nBuilding interactive dashboards and visualizations on Tableau and/or Google Data Studio platform\nProviding data analysis, reporting, and data support to internal and external stakeholders to drive business process improvements and achieve top-line objectives\nInterpreting business requirements and translating them into analytical objectives\nPerforming root cause analysis on business problems while providing recommendations in a timely manner\nInstilling a company wide-culture of data-first decision making and driving continuous data quality best practices\nTHE QUALIFICATIONS\n\nBachelor’s degree in Analytics, Engineering, Statistics, Management Science, Applied Mathematics, or related field, with Master’s degree preferred\n3+ years of experience in a high-paced, tech-first company, with financial services experience preferred\nDemonstrable experience using data visualization tools such as Tableau or Google Data Studio\nUnderstanding of how relational databases work, how objects are linked with each other, different types of joins, and how to use them for reporting\nFamiliarity using complex nested condition loops (using functions such as If, Where, Case, etc) and using logical operators (such as AND, OR, NOT, etc)\nStrong ability to understand how to use data to support and enhance business processes\nAbility to work with large relational datasets and derive insights from the same\nPrior work experience or coursework on Salesforce CRM is a plus\nExcellent verbal and written communication, presentation and facilitation skills with the ability to express complex concepts in plain language to reach broader audiences',
 'NA',
 'Roles and Responsibilities\n\nDeep expertise in Data, Analytics and regulatory data domains\n• Broad experience desired, in multiple domain areas, such as data warehousing, business intelligence (BI), data governance, data integration, data classification, data strategy, data quality management, MDM, data standards and regulatory compliance.\n• Full cycle MDM implementation experience with leading MDM products e.g. Informatica, in customer and Product domain\n• Good Business and functional experience on MDM\n• Data wizard with hands on data analysis, profiling and PL/SQL skills\n• Self-directed with the ability to manage simultaneous engagements with minimal supervision\n• Excellent presentation, listening, and writing skills with ability to lead\n• Good understanding of related advanced/new technologies, which could be leveraged to enhance current capabilities and build durable new ones\n• Strong analytical and problem-solving skills coupled with attention to detail is desired\n\n\nThis role requires detailed knowledge of modern Master Data Management practices in enterprise environments, data ingestion and data pipeline management, data services foundation, global financial reporting and analysis and data visualization products (products and open source) as well as an understanding and desire to adapt Agile methodologies into the product management process',
 '  Identity and Access Management is a function within the Tech Ops group that globally manages directories, accounts, access, passwords, federation and sign-on functions. It provides a secure foundation, with standard process and tools to ensure access to GSK information and systems is protected.\nTo work with designated TECH groups to identify opportunities to improve internal performance by optimizing processes, facilitating change and exploiting information technology to meet Identity Access Management (IAM) objectives. To provide business consulting and analysis expertise in the development of TECH strategies.\nTo perform business analysis activities to define IAM needs, develop the benefits case for change or process improvement projects, define requirements, develop project charters and ensure benefit is delivered. To take an active role in the management of data in IDAM systems to facilitate its use by the business.\nThis role will provide YOU the opportunity to lead key activities to progress YOUR career. These responsibilities include some of the following:\nAssist with the development of TECH strategies for IAM. Perform analysis during design, development and implementation of change and process redesign, working with Project Managers, Act both as a technical Lead and/or architect to ensure that requirements are met and benefits realised for TECH projects.\nRepresent TECH on management teams, cross-functional teams, and committees. Use analytical techniques and tools to improve IAM performance or solve problems by optimizing processes, facilitating change, improving compliance with existing processes, and applying information technologies.\nFacilitate communications between Business Partners and TECH. Identify interdependency of changes in IAM processes and TECH systems. Partner with TECH colleagues to optimize the IAM TECH product portfolio\nTechnical support for the new/other team members - share knowledge, best practices, procedures and processes\nContribute towards the management of TECH aspects of business initiatives (such as audits, MAADs, TSR Security Response etc.) and assist IDAM in managing changes\nOwn the technical BI architecture strategy that will increase customer value and adoption of well-architected cloud solutions across Hosting.\nIn partnership with 3rd party tech suppliers formulate and execute delivery of a customer-focused BI architecture.\nStrong experience in Power BI, ServiceNow, SQL, Azure ADF, IDAM process,\nReview project team architectural designs to ensure consistency alignment with defined target architecture and adherence to established standards\nProvide BI solution designs to meet business requirements; collaborating with Tech Enterprise Architecture (EA) for approval to ensure alignment to best practices and architectural principles and practices.\nDevelop ETL/ELT processes, data lakes, data warehouse databases, cubes, reports, dashboards, in-line with reporting strategy and architecture. Assist in developing standards for data lakes, data ingestion, data access layers and BI solutions as key components of the BI architecture. Building Single Source of Truth Data lakes using Azure ADF, Rest API and build the BI solutions on top of it.\nDesign models and databases both relational and dimensional and analytics cubes to support reporting requirements. Guide and prioritise the development of BI whitepapers, data sheets, and other high-value customer facing guidance and best practices.\nDevelop and maintain understanding of:\n- Knowledge of IDAM processes, systems and objectives;\n- Industry-wide practices and trends in TECH solutions for IAM;\n-Mainstream development methodologies, analysis techniques, target policy guidelines and standards',
 'Responsibilities:\nProvide innovative analytical insights within the Data\nConduct detailed data analysis on data used across business units to evaluate business processes and improve on/create new feature\nRespond to data and product related inquiries in real-time to support business and technical teams\nPerform various data analytics in SQL and MS Excel using statistical models or industry accepted tools\nProvide relational database expertise to construct and execute SQL queries to be used in data analysis activities\nProvide data solutions, tools, and capabilities to enable self-service frameworks for data consumers\nProvide expertise and translate the business needs to design; and develop tools, techniques, and metrics, and dashboards for insights and data visualization\nResponsible for developing and executing tools to monitor and report on data quality\nResponsible for establishing appreciation and adherence to the principles of data quality management, including metadata, lineage, and business definitions\n\nRequirements.\nDegree in computer science or equivalent preferred.\nMust have 5-8 years of total IT experience on Microsoft Power BI, SQL Server, SSIS, SSRS, SSAS.\nDebugging and Troubleshooting SSIS Packages.\nImplemented Error Handling/ debugging the packages with Data Viewers, break points, Event Handlers and Configure Error Output.\nStrong Knowledge in SQL Server BI suite (SSIS, SSAS, SSRS Reporting, Analytics, and Dashboards).\nStrong Knowledge in ETL Design, Development, Implementation and Support using SQL Database, data warehousing environments.\nExperience in creating T-SQL Procedures, Functions and Indexes based on business requirements.\nExpert in Data Extraction, Transforming and Loading (ETL) using SSIS.\nDesigning and developing the SSIS Packages.\nExperience Developing visual reports, dashboards and cards using Power BI desktop.\nExperience in Connecting to data sources, importing data, and transforming data for Business Intelligence.\n\nPerks and Benefits\n\nAn Opportunity to work with fortune 50 clients\nSalary best in the industry + Performance Bonus.\n\nImmediate joiners will be given more priority less than 30 days notice',
 'Role Overview:\nWe are looking for an experienced senior data analytics engineer, with BigData back ground, who can help us to develop analytics tools and solutions. These solutions will be dedicated to improving the quality of Data, Working with Analytics Team, be a catalyst for change across products by developing engineering tools, control strategies, system optimization and diagnostic algorithms for internal and external customers\n\nAbout the Role:\nReads and understands algorithms and other techniques from academic papers\nGenerates reports for decision-making using data visualization and data mining\nCan handle design of modules.\nCan do performance tuning of stored data in database and processing algorithm\nLearn all engineering process, and strive for quality\nMaintain awareness on current and new technologies and analyze their applicability to the program.\nProvides inputs for design\nOwn small independent modules (Design, develop, test, integrate)\nUnderstand impact of code and script changes\nWrites analytics scripts using Spark, Azure, AWS\nProvide technical direction for Application sub-system, research, design, analysis, testing,process improvement, and troubleshooting.\nIn depth understanding of the Project Life\nExcellent software debugging skills\nConstantly helping team to improve on quality numbers.\nPeer to Peer review\nContinuously improving to provide excellent documentation to end users\nAbout You:\nYou should have 6-8 years of relevant experience with excellent programming, data analysis, and communication skills\nYou should have the ability to think creatively through the problem-solving process\nYou must have experience coding either in Python, R, Scala, JavaScript or similar language\nStrong knowledge on Azure, AWS, Spark, SQL\nYou should have ability to visualize data for stack holders using tools like PowerBI, Tableau\nMust be able to process, clean and verify the integrity of raw data.\nA self-starter who is able to be highly productive with minimal supervision\nShould be able to lead the development of algorithms for complex systems for the purposes of understanding, prediction and optimization\nShould have knowledge in mathematical optimization and Machine Learning']

5. Finally create a dataframe of the scraped data.

In [40]:
Data_Scientist={'Job':job,'Location':loc,
              'Company':comp,'Job Description':desc}
Data_Scientist=pd.DataFrame(data=Data_Scientist)
Data_Scientist

,Job,Location,Company,Job Description
0,Senior Data Analyst,"Gurgaon/Gurugram, Bangalore/Bengaluru",Gaussian Networks Private Limited,Gauss Networks is seeking a highly motivated a...
1,Tcs Hiring For Senior Data Analyst (bfsi domain),"Chennai, Bangalore/Bengaluru",Tata Consultancy Services Ltd.,Roles and Responsibilities\n\n8+ years of expe...
2,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,Dear Candidates\n\nWe have a Immediate require...
3,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,Dear Candidates\n\nWe have a Immediate require...
4,Business Data Analyst - Google Data Studio & SQL,Bangalore/Bengaluru,AVE-Promagne,Your responsibilities will include but not lim...
5,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd,NA
6,Tcs Hiring For MDM (master data management) Da...,(WFH during Covid),Tata Consultancy Services Ltd.,Roles and Responsibilities\n\nDeep expertise i...
7,Senior Data Analyst IDAM Services,"Chennai, Bangalore/Bengaluru",GlaxoSmithKline Pharmaceuticals Limited,Identity and Access Management is a function...
8,Data Analyst/Sr.Data Engineer,Bangalore/Bengaluru,SYREN TECHNOLOGIES PRIVATE LIMITED,Responsibilities:\nProvide innovative analytic...
9,SENIOR DATA ANALYST,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",McAfee Software (India) Pvt. Ltd,Role Overview:\nWe are looking for an experien...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

1. First get the webpage https://www.naukri.com/

In [42]:
url='https://www.naukri.com/'
driver.get(url)

2. Enter “Data Scientist” in “Skill,Designations,Companies” field .

In [43]:
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')

3. Then click the search button.

In [44]:
driver.find_element_by_xpath("//button[@class='btn']").click()

4. Then apply the location filter and salary filter by checking the respective boxes

In [45]:
driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i").click()
time.sleep(4)

In [46]:
driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i").click()

5. Then scrape the data for the first 10 jobs results you get.

In [47]:
Job=[]
Loc=[]
Comp=[]
Exp=[]

In [48]:
#scrapping job titles
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    Job.append(i.text)
    Job=Job[:10]

In [49]:
Job

['Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist - WFH - MIND Infotech',
 'Data Scientist / Data Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Insurance',
 'Junior Data Scientists & Engineers']

In [50]:
#scrapping location
loct=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in loct:
    Loc.append(i.text)
    Loc=Loc[:10]

In [51]:
Loc

['Hyderabad/Secunderabad, Pune, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida',
 '(WFH during Covid)',
 'Gurgaon/Gurugram',
 '(WFH during Covid)']

In [52]:
#scrapping company
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in comp:
    Comp.append(i.text)
    Comp=Comp[:10]

In [53]:
Comp

['Creative Hands HR Consultancy',
 'GABA Consultancy services',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'CARS24',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Huquo Consulting Pvt. Ltd',
 'PY Consultancy']

In [54]:
#scrapping experience
expe=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for i in expe:
    Exp.append(i.text)
    Exp=Exp[:10]

In [55]:
Exp

['0-0 Yrs',
 '0-0 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '0-3 Yrs']

5. Finally create a dataframe of the scraped data.

In [56]:
Data_Scientist_Delhi={'Job':Job,'Location':Loc,
              'Company':Comp,'Experience':Exp}
Data_Scientist_Delhi=pd.DataFrame(data=Data_Scientist_Delhi)
Data_Scientist_Delhi

,Job,Location,Company,Experience
0,Data Scientist/ Machine Learning Engineer,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga...",Creative Hands HR Consultancy,0-0 Yrs
1,Data Scientist / Data Analyst / Business Analy...,"Ghaziabad, Faridabad, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist - WFH - MIND Infotech,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
3,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
5,Data Scientist / Data Analyst / Business Analy...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
6,Data Scientist,Noida,R Systems International Ltd.,3-6 Yrs
7,Data Scientist,(WFH during Covid),PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
8,Data Scientist - Insurance,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,2-7 Yrs
9,Junior Data Scientists & Engineers,(WFH during Covid),PY Consultancy,0-3 Yrs

# Q: 4 Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

1. first get the webpage https://www.glassdoor.co.in/index.html

In [58]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [65]:
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.

In [66]:
title_tag=driver.find_element_by_id('sc.keyword')
title_tag.send_keys('Data Scientist')
noida=driver.find_element_by_id('sc.location')
noida.send_keys('Noida')

In [67]:
search=driver.find_element_by_xpath("//span[@class='css-8zxfjs']")
search.click()

4. Then scrape the data for the first 10 jobs results you get in the above shown page.

In [68]:
title=driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']")
comp=[]
for i in title:
    comp.append(i.text)
comp

['AlgoScale Technologies Private Limited',
 'Liberin Technologies Private Limited',
 'Lenskart',
 'Grail Insights',
 'Salasar New Age Technologies',
 'Noisy Lion',
 'Genpact',
 'Techlive',
 'Grail Insights',
 'Ericsson',
 'Salasar New Age Technologies',
 'Newgen Software',
 'IBM',
 'Crowe',
 'Biz2Credit Inc',
 'SearchUrCollege',
 'Monotype',
 'limeroad.com',
 'ING',
 'NEC Opportunities',
 'Ishatva Management Solutions',
 'CRMNEXT',
 'CSTEP',
 'Airtel India',
 'WishFin',
 'Crypto Mize',
 'xtLytics',
 '2COMs',
 'Adobe',
 'Emerging India Group']

In [69]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
day=[]
for i in days:
    day.append(i.text)
day

['19d',
 '30d+',
 '7d',
 '5d',
 '30d+',
 '4d',
 '6d',
 '30d+',
 '5d',
 '12d',
 '30d+',
 '30d+',
 '23d',
 '30d+',
 '30d+',
 '30d+',
 '4d',
 '19d',
 '10d',
 '26d',
 '14d',
 '30d+',
 '30d+',
 '24d',
 '30d+',
 '27d',
 '30d+',
 '21d',
 '10d',
 '30d+']

As ratings is missing for some companies we use Excption Handling

In [72]:
rating=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")
rate=[]
for i in rating:
    if i.text!='':
        rate.append(i.text)
    else:
        rate.append('-')
rate

['3.9',
 '3.6',
 '3.5',
 '3.9',
 '3.8',
 '3.5',
 '4.1',
 '3.3',
 '3.9',
 '3.8',
 '4.2',
 '3.9',
 '4.0',
 '3.7',
 '3.2',
 '3.8',
 '3.8',
 '5.0',
 '3.0',
 '3.8',
 '4.4',
 '2.4']

In [73]:
df=pd.DataFrame()
df['Company']=comp[0:10]
df['Rating']=rate[0:10]
df['NO. of days ago']=day[0:10]
df

                                  Company Rating NO. of days ago
0  AlgoScale Technologies Private Limited    3.9             19d
1    Liberin Technologies Private Limited    3.6            30d+
2                                Lenskart    3.5              7d
3                          Grail Insights    3.9              5d
4            Salasar New Age Technologies    3.8            30d+
5                              Noisy Lion    3.5              4d
6                                 Genpact    4.1              6d
7                                Techlive    3.3            30d+
8                          Grail Insights    3.9              5d
9                                Ericsson    3.8             12d

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [107]:
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

2. Enter “Data Scientist” in Job title field and “Noida” in location field.

In [108]:
driver.find_element_by_xpath("//input[@name='sc.keyword']").send_keys('Data Scientist')

In [109]:
driver.find_element_by_xpath("//input[@id='LocationSearch']").clear()
driver.find_element_by_xpath("//input[@id='LocationSearch']").send_keys('Noida')

In [110]:
driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

In [116]:
title_tags=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="a8377908-0cd5-419f-8f50-c7dea50b01cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="fc323f34-8aca-4cc3-ae5c-764266ee2d9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="b18ba2be-fbc9-4596-ab75-3e108539a441")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="e5600174-82cf-4cc3-bdaa-4974a7fc11f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="f7cc8b7c-26e7-4c7f-b494-338f5ac792d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="fdacde48-ecb7-4802-8488-93478b09f3f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="eef31e11-5b25-4f88-b8e6-14341651de30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="0245b5ac-b2d8-4c92-a203-6a193ab68669")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="c5f405e4-3481-4976-9910-a431e3b80015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="cee56e3f-85f5-416a-8b1e-e034ab9e3d50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="db3e51c4-133f-480c-8ba4-d4a5b1d0320d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="573d0f4d-cba2-4fe4-ac2e-689e19866c64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="83027018-80ef-4a07-a8d6-c72e323bf468")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="5456e0ab-3a29-4780-be31-f8d2a8b36493")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="57e42b4f-3747-4c1f-a980-1af8232d64fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="cb27ac63-06d9-4901-b060-6c75bc4d23fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="dde8ecee-1372-4d8d-9f57-3282351db861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="520d4e41-86c6-41cc-809b-f53b750bfa24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="29c23547-0456-4212-9e89-094d3f5bb8fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="76c6ee45-1c19-471f-8f97-0f1a6bfe1565")>]

In [117]:
Company_names=[]

for i in title_tags:
    Company_names.append(i.text.replace("\n", " "))
        
Company_names

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'Fresher',
 'CARS24.com',
 'Vidooly Media Tech']

In [118]:
No_of_Salary= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")
No_of_Salary

[<selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="875558bd-a810-49c3-8094-6ae68511db03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="649639fd-2ae7-4ba7-9208-e417c84ea4e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="a11d71d7-0584-461c-bc2e-568c0eeb77a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="3d53abbd-1abd-484b-aedf-0e437ec52db8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="60755ea3-6af9-4a7d-8a5d-8914b54dcac7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="a16584ef-1dbe-4d69-9a90-96e7d3ae3e32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="7ab147a8-6cf5-43a9-8a15-041c09563753")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="2509cfff-03b5-4d48-abb6-a5e4a91e56aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="9eef867f-d1c9-4279-8662-bd373e534a74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="54169372-ca88-41e2-94f6-49ec811f7802")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="4f9affd2-b65a-45fd-a946-d0d25466a5fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="4b50dccf-ec95-417e-aee9-ce226a389801")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="173521a1-4f09-46bb-897c-df3415bb68b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="4fb57723-bd46-47cc-8879-58382af4bf23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="d54d82bd-5ccc-4896-b8fa-10984eea1b4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="22f6a8a8-8f77-47e3-adc2-aff4c45e5fdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="41f570c5-b621-492c-9110-7a727ea56db2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="8dde3c68-50a6-4a85-8052-5ddcd05aa7d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="31d2dd89-5216-4520-81f9-efae0322af97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="ec27be66-27e8-49a4-b66d-f483cf9e9980")>]

In [119]:
No_of_salaries=[]
for i in No_of_Salary:
    No_of_salaries.append(i.text)
No_of_salaries

['22 salaries',
 '20 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries']

In [120]:
average_salary= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")
average_salary

[<selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="aaa36e59-77b2-4267-8054-de87dc1421f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="ab8e15f1-b04a-4d58-ab8c-3f98a6ce628c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="8dee8342-40fa-49f2-b65f-88ba0b9d727e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="cbc90f0f-e90b-42c7-8010-408dc9bff8a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="ac85ac15-dfbe-48e4-8bc2-20d90a49cdff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="6bf417fd-8244-4a9b-a7bf-e6b742441fd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="0523cbfd-2dfb-4302-8542-123fb35245cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="73f29146-1bb2-4f4b-8cd6-a5aa766c0b3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="f460be1d-e268-4539-b20c-2bc6e931f42e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="272bed7c-e2d4-4779-8b7e-63e42d0c9ab5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="20bea2f1-f016-4d6d-a01c-d6c97f644473")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="ffcbfa92-2e2a-46f7-b86f-85a417a75280")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="2cb9f0ca-f62b-489a-881e-38a86b11a13d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="40866800-a740-46fd-b8d3-b67bdafd3bd2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="b5057c50-cbca-4ecd-b2f1-05c96ffd2eb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="2b9f9426-577c-4fe1-be32-9a7d6431c27a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="7e596dda-5e3f-45f7-89b1-d53295fbfa05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="22b820f0-889e-4fad-a8fc-1fdc8b91e21a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="e897ee37-25a5-4848-b505-67575d466b93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="c3b797be-83ca-4e04-bf29-6eaade6a5a94")>]

In [121]:
Average_salaries=[]
for i in average_salary:
    Average_salaries.append(i.text)
Average_salaries

['₹6,28,021',
 '₹9,08,246',
 '₹11,93,390',
 '₹12,49,716',
 '₹7,58,335',
 '₹12,80,000',
 '₹12,70,000',
 '₹14,55,430',
 '₹8,86,064',
 '₹11,10,000',
 '₹9,62,227',
 '₹11,71,868',
 '₹11,01,815',
 '₹12,40,275',
 '₹14,51,902',
 '₹11,30,374',
 '₹20,63,782',
 '₹61,566',
 '₹10,80,727',
 '₹35,040']

In [124]:
full_salary=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']")
full_salary

[<selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="77fcfd6f-479f-4375-949a-2fba3e0888e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="96e0c360-23b8-4cb9-9021-a0e44c3f8c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="c3a46630-eea5-4012-a277-bcad06dfeecd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="f970bfc4-757f-44d7-993a-8111e7217c3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="dedc9f6f-746c-4d41-826c-f0d81eabd76c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="51b8ef79-9014-4940-826a-f1977c4a69b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="ba1e1854-3c6f-49ed-b699-ba0ded737517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="55da969f-2799-49c7-b84a-465b1ccfc5a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="d1d4b0ff-9760-4ac2-a68e-69e37f551a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="b550be64-eb27-4f50-b501-26bbafa350b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="fe9e025f-d585-4ad9-980f-11276220a8ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="50dd1dff-6684-49dc-a56b-549e625cc082")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="f765acc5-6de4-4782-a49b-a7ec2a59fb2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="a94dbee4-655f-4f7e-a9f0-b9ffee83ea8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="bcaa91ba-17ca-47e9-8ef6-f785cfd4dcae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="2a6c517f-43fd-419f-a960-1a053d32c81e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="3f4c74ed-fbe7-4448-bae9-776cd13d0de6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="9e132f01-b17b-4a6f-985f-c828ba4b7434")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="8c15907b-835c-44ec-b5af-f6f4622a4ce6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7b2a1769f90640fe11569e5e903df73e", element="0bc04868-d6b7-4f7a-9090-962c437fa2da")>]

In [126]:
full_salaries=[]
for i in full_salary:
    full_salaries.append(i.text.replace('\n','-'))
full_salaries

['₹4L-₹13L',
 '₹1L-₹28L',
 '₹6L-₹23L',
 '₹5L-₹1Cr',
 '₹4L-₹17L',
 '₹8L-₹16L',
 '₹8L-₹20L',
 '₹10L-₹18L',
 '₹5L-₹15L',
 '₹6L-₹16L',
 '₹4L-₹13L',
 '₹2L-₹19L',
 '₹4L-₹21L',
 '₹6L-₹17L',
 '₹10L-₹21L',
 '₹8L-₹21L',
 '₹10L-₹30L',
 '₹25T-₹1L',
 '₹9L-₹15L',
 '₹12T-₹64T']

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
Brand

Product Description

Price

Discount %

In [ ]:
driver= webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [127]:
url='https://www.flipkart.com/'
driver.get(url)

Scrapping the Data of 100 Sunglasses

In [129]:
b=[]
pdis=[]
pr=[]
dis=[]

In [130]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sunglasses')
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [131]:
#scrapping the brand name
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        b.append(j.text)
        b=b[:100]
        
#scrapping the product description
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        pdis.append(j.text)
        pdis=pdis[:100]

#scrapping the product price
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        pr.append(j.text)
        pr=pr[:100]

#scrapping the product discount
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        dis.append(j.text)
        dis=dis[:100]

#clicking on the next page
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(2)

#creating the dataframe
Flipkart_Sun={'Brand':b,'Description':pdis,'Price':pr,'Discount':dis}
Flipkart_Sun=pd.DataFrame(data=Flipkart_Sun)
Flipkart_Sun

,Brand,Description,Price,Discount
0,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹284,89% off
1,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
2,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
3,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
4,Fastrack,UV Protection Wayfarer Sunglasses (56),₹633,29% off
...,...,...,...,...
95,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
96,povty,UV Protection Wayfarer Sunglasses (Free Size),₹349,65% off
97,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449,79% off
98,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹202,83% off
99,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off

# Q7:Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

As shown in the above page you have to scrape the tick marked attributes.
These are

Rating

Review_summary

Full review You have to scrape this data for first 100 reviews.

In [132]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [133]:
driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']").click()

In [134]:
#Creating the empty list to store the data

rating=[]
summ=[]
full=[]

for i in range(0,11):
    
    #scrapping the rating
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(j.text)
        rating=rating[:100]
    
    #scrapping the sunn
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        summ.append(j.text)
        summ=summ[:100]

    #scrapping the full review
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        full.append(j.text)
        full=full[:100]

#creating the dataframe
iphone_reviews={'Rating':rating,'Review Summary':summ,'Full Review':full}
iphone_reviews=pd.DataFrame(data=iphone_reviews)
iphone_reviews

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [135]:
url = 'https://www.flipkart.com' 
driver.get(url)

In [137]:
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('sneakers')

In [140]:
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()

In [142]:
brand = []
desc = []
price = []
disc = []
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)
for c in disc_tag:
   disc.append(c.text)

In [143]:
import time 


i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [144]:
SneakersDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SneakersDF.reset_index(drop=True,inplace = True)
SneakersDF.index+= 1
SneakersDF.shape

SneakersDF

,Brand Name,Price(₹),Discount,Description
1,ESSENCE,₹463,53% off,Black Money Sneakers For Men
2,tigonis,₹449,55% off,Luxury Branded Fashionable Men's Casual Walkin...
3,Magnolia,₹356,64% off,Sneakers For Men
4,BRUTON,₹474,86% off,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
5,Longwalk,₹236,52% off,Men Boxer Sneakers For Men
...,...,...,...,...
96,Red Rose,₹379,24% off,Casual Sneakers Sneakers For Men
97,ADIDAS,"₹2,279",36% off,Casual Sneakers White Shoes For Men And Boys S...
98,HOTSTYLE,₹611,59% off,SM-322 Sneakers For Men
99,PUMA,"₹1,959",44% off,Hip Hop Mid Perf IDP Sneakers For Men
100,U.S. POLO ASSN.,"₹2,652",33% off,Combo Men Pack of 2 Loafers Shoes Sneakers For...

# Q9: Go to the link - https://www.myntra.com/shoes
        
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [145]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [146]:
search_btn=driver.find_elements_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']/div[@class = 'common-checkboxIndicator']")
search_btn[0].click()

In [147]:
search_btn=driver.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']")
search_btn[1].click()

In [148]:
page_url=[]
url = driver.find_elements_by_xpath("//li[@class='pagination-number']//a")[:2]
for i in url:
    page_url.append(i.get_attribute('href'))
page_url

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6935.0_13621.0_6935.0%20TO%2013621.0&p=2',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6935.0_13621.0_6935.0%20TO%2013621.0&p=3']

In [149]:
product_brands=[]
for i in page_url:
    driver.get(i)
    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")[:100]
    for i in brand:
        product_brands.append(i.text)
product_brands

['Puma',
 'Geox',
 'ROSSO BRUNELLO',
 'PUMA Motorsport',
 'Puma',
 'PUMA Motorsport',
 'ROSSO BRUNELLO',
 'Saint G',
 'RARE RABBIT',
 'ASICS',
 'J.FONTINI',
 'Saint G',
 'Heel & Buckle London',
 'UNDER ARMOUR',
 'KIPRUN By Decathlon',
 'Puma',
 'PUMA Motorsport',
 'Puma',
 'Puma',
 'Heel & Buckle London',
 'Cole Haan',
 'Cole Haan',
 'Cole Haan',
 'VIONIC',
 'J.FONTINI',
 'J.FONTINI',
 'Kalenji By Decathlon',
 'Puma',
 'PUMA Motorsport',
 'Nike',
 'Geox',
 'Puma',
 'ASICS',
 'ASICS',
 'Heel & Buckle London',
 'ASICS',
 'Bugatti',
 'Bugatti',
 'Heel & Buckle London',
 'Saint G',
 'Saint G',
 'Saint G',
 'Kenneth Cole',
 'Heel & Buckle London',
 'Geox',
 'J.FONTINI',
 'Geox',
 'Cole Haan',
 'Geox',
 'Geox',
 'Florsheim',
 'Tommy Hilfiger',
 'Heel & Buckle London',
 'Ruosh',
 'Heel & Buckle London',
 'PUMA Motorsport',
 'Puma',
 'Puma',
 'Puma',
 'ASICS',
 'J.FONTINI',
 'Nike',
 'J.FONTINI',
 'J.FONTINI',
 'Nike',
 'Heel & Buckle London',
 'Kenneth Cole',
 'J.FONTINI',
 'Kenneth Cole',
 'Nike',
 'Saint G',
 'Nike',
 'Nike',
 'Nike',
 'Geox',
 'Geox',
 'Geox',
 'ASICS',
 'DAVINCHI',
 'Sole To Soul',
 'DAVINCHI',
 'Sole To Soul',
 'Sole To Soul',
 'Saint G',
 'J.FONTINI',
 'DAVINCHI',
 'Geox',
 'J.FONTINI',
 'Tommy Hilfiger',
 'DAVINCHI',
 'DAVINCHI',
 'PUMA Motorsport',
 'DAVINCHI',
 'Cole Haan',
 'UNDER ARMOUR',
 'Clarks',
 'Puma',
 'ADIDAS',
 'Florsheim',
 'Puma']

In [150]:
description=[]
for i in page_url:
    driver.get(i)
    descrip=driver.find_elements_by_xpath("//h4[@class='product-product']")[:100]
    for i in descrip:
        description.append(i.text)
description

['Women Charged Bandit 6 Running',
 'Unisex Leather Trainers',
 'Scuderia Ferrari A3ROCAT Shoes',
 'Unisex Colourblocked Sneakers',
 'Mercedes F1 Drift Cat Shoes',
 'Men Solid Leather Formal Monk Shoes',
 'Leather Block Sandals',
 'Men Black Leather Loafers',
 'Women GlideRide Running Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Printed Slip-On Sneakers',
 'Women Leather Heeled Boots',
 'Women Solid Leather Gladiators',
 'Women Charged Breathe CLR SFT',
 'Women Running Shoes',
 'Women RS-Curve City Sneakers',
 'Women BMW M Motorsport Shoes',
 'Women Liberate NITRO Running',
 'Women Fuse Moto Training Shoes',
 'Men Leather Sneakers',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Leather Sneakers',
 'Men Textured Sneakers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men KD500 Running Shoe',
 'Men Running Shoes',
 'Unisex BMW MMS RS-FastSneakers',
 'Women Air Zoom Running Shoes',
 'Men Leather Formal Slip-Ons',
 'Men Jamming 2.0 Running Shoes',
 'Men Tennis Shoes',
 'Men Black Running Sports Shoes',
 'Men Tassel Leather Loafer',
 'Men GEL-GLYDE 3 MX Running',
 'Men Black Walking Shoes',
 'Men Walking Shoes',
 'Women Solid Leather Heels',
 'Women Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Leather Pumps',
 'Women Peep Toe Heels',
 'Men Leather Formal Slip-Ons',
 'Men Textured Leather Loafers',
 'Men Solid Sneakers',
 'Women Open Toe Flats',
 'Men Leather Flat Boots',
 'Men Leather Driving Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Suede Sneakers',
 'Men Solid Leather Formal Monks',
 'Men Leather Formal Loafers',
 'Women Leather Pumps',
 'Unisex Mercedes F1 Sneakers',
 'Unisex Mirage Sport Trainers',
 'Unisex KING Pro Football Shoes',
 'Unisex Pacer Future Sneakers',
 'Men Gel-Excite Trail Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men ZOOM SPAN 3 Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Formal Loafers',
 'Men Vomero 16 Running Shoes',
 'Men Solid Leather Formal Penny Loafers',
 'Men Leather Formal Loafers',
 'Women LeatherSneakers',
 'Women Solid Flat Boots',
 'Men Zoom Winflo 8 Shoes',
 'Leather Block Peep Toes',
 'Men AIR MAX INFINITY Sneakers',
 'Men Air Max Infinity 2 Shoes',
 'Men Air Max Infinity 2 Sneaker',
 'Leather Heeled Boots',
 'Leather Heeled Boots',
 'Leather Heeled Boots',
 'Men Gel-Pulse13 G-TX Running',
 'Ustraa black',
 'Women Block Heeled Boots',
 'Men Formal Leather Slip-Ons',
 'Platform Peep Toes with Buckles',
 'Block Heeled Boots with Laser Cuts',
 'Women Embellished Sandals',
 'Men Solid Leather Shoes',
 'Women Mid-Top Flat Boots',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Formal Loafers',
 'Women Hybrid Leather Sneakers',
 'Men Textured Formal Leather Loafers',
 'Men Solid Formal Leather Slip-On Shoes',
 'Women F1 Ridge Cat Sneakers',
 'Men Solid Leather Formal Derbys',
 'Women Leather Sneakers',
 'HOVR Infinite 2 Running Shoes',
 'Men Leather Loafers',
 'Unisex Colourblocked Sneakers',
 'Men Kaptir Super Sneakers',
 'Men Solid Leather Formal Brogues',
 'Unisex Rebound Future Trainers']

In [151]:
price=[]
for i in page_url:
    driver.get(i)
    money=driver.find_elements_by_xpath("//div[@class='product-price']")[:100]
    for i in money:
        price.append(i.text)
price

['Rs. 7999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 8490',
 'Rs. 10999',
 'Rs. 10355Rs. 10900(5% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 9999',
 'Rs. 6990',
 'Rs. 7600',
 'Rs. 11999',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 7999',
 'Rs. 7006Rs. 7149(2% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 10999',
 'Rs. 7039Rs. 10999(36% OFF)',
 'Rs. 7990',
 'Rs. 7990',
 'Rs. 7773Rs. 8449(8% OFF)',
 'Rs. 12999',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 10295',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 9093Rs. 12990(30% OFF)',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 6993Rs. 9990(30% OFF)',
 'Rs. 8000',
 'Rs. 8500',
 'Rs. 8900',
 'Rs. 10493Rs. 14990(30% OFF)',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 11242Rs. 14990(25% OFF)',
 'Rs. 6990',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 9999',
 'Rs. 6995',
 'Rs. 7599',
 'Rs. 8990',
 'Rs. 7992Rs. 9990(20% OFF)',
 'Rs. 7192Rs. 8990(20% OFF)',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7990',
 'Rs. 7195',
 'Rs. 7990',
 'Rs. 6990',
 'Rs. 13495',
 'Rs. 8792Rs. 10990(20% OFF)',
 'Rs. 6990',
 'Rs. 7343Rs. 10490(30% OFF)',
 'Rs. 9513Rs. 13590(30% OFF)',
 'Rs. 8295',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 8295',
 'Rs. 8295',
 'Rs. 8295',
 'Rs. 11999',
 'Rs. 12999',
 'Rs. 10999',
 'Rs. 9999',
 'Rs. 8990',
 'Rs. 7990',
 'Rs. 8990',
 'Rs. 7690',
 'Rs. 7990',
 'Rs. 7000',
 'Rs. 8990',
 'Rs. 6990',
 'Rs. 10999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 6990',
 'Rs. 6999',
 'Rs. 8990',
 'Rs. 10999',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 7495',
 'Rs. 6999']

In [152]:
df=pd.DataFrame()
df['Brand']=product_brands
df['description']=description
df['price']=price
df

              Brand                       description      price
0              Puma    Women Charged Bandit 6 Running   Rs. 7999
1              Geox           Unisex Leather Trainers   Rs. 6999
2    ROSSO BRUNELLO    Scuderia Ferrari A3ROCAT Shoes   Rs. 7999
3   PUMA Motorsport     Unisex Colourblocked Sneakers  Rs. 12999
4              Puma       Mercedes F1 Drift Cat Shoes   Rs. 8490
..              ...                               ...        ...
95           Clarks               Men Leather Loafers   Rs. 6999
96             Puma     Unisex Colourblocked Sneakers   Rs. 7999
97           ADIDAS         Men Kaptir Super Sneakers   Rs. 8999
98        Florsheim  Men Solid Leather Formal Brogues   Rs. 7495
99             Puma    Unisex Rebound Future Trainers   Rs. 6999

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/
        
Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [153]:
url='https://www.amazon.in/'
driver.get(url)

In [154]:
driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
time.sleep(2)

#clicking the search button

driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]').click()

In [155]:
driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/12598163031']/span/a").click()
time.sleep(4)

driver.find_element_by_xpath("//*[@id='p_n_feature_thirteen_browse-bin/16757432031']/span/a").click()

In [156]:
Title=[]
Ratings=[]
Price=[]

#scrapping the title
for i in driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]'):
    Title.append(i.text)
    Title=Title[:10]

#scrapping the rating

Rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')  
for i in Rating:
    Ratings.append(i.get_attribute('aria-label'))
    Ratings=Ratings[:10]
    
#scrapping the Price
for i in driver.find_elements_by_xpath('//span[@class="a-price-whole"]'):
    Price.append(i.text)
    Price=Price[:10]
    
#creating the dataframe
Amazon_laptop={'Title':Title,'Ratings':Ratings,'Price':Price}
Amazon_laptop=pd.DataFrame(data=Amazon_laptop)
Amazon_laptop

,Title,Ratings,Price
0,Dell XPS 9370 13.3-inch FHD Display Thin & Lig...,2.8 out of 5 stars,"1,14,990"
1,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5 stars,"1,23,350"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"57,990"
3,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,4.3 out of 5 stars,"77,990"
4,Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....,4.1 out of 5 stars,"1,07,990"
5,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",3.7 out of 5 stars,"5,56,524"
6,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,5.0 out of 5 stars,"92,990"
7,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...",4.1 out of 5 stars,"1,13,990"
8,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,2.4 out of 5 stars,"98,500"
9,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" Full ...",4.7 out of 5 stars,"97,989"