In [35]:
import pandas as pd
import selenium
import time
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re
from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException,ElementNotInteractableException   
from selenium.common.exceptions import  NoSuchWindowException,InvalidSessionIdException

In [9]:
driver= webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe')
driver

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
    
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
    
You need to find following details:
    
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()
time.sleep(2)

In [11]:
#creating the empty list
Rank=[]
Name=[]
Artist=[]
Upload=[]
Views=[]

In [12]:
#scraping the Rank
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[1]"):
    Rank.append(i.text)

#scraping the Name
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[2]"):
    Name.append(i.text.split('[')[0])

#scraping the Artist
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[3]"):
    Artist.append(i.text)

#scraping the upload date
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[5]"):
    Upload.append(i.text)

#scraping the number of views
for i in driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td[4]"):
    Views.append(i.text)

In [13]:
Yotube_Most_Views={'Rank':Rank,'Name':Name,'Artist':Artist,'Uploaded Date':Upload,'Views':Views}
Yotube_Most_Views=pd.DataFrame(data=Yotube_Most_Views)
Yotube_Most_Views

,Rank,Name,Artist,Uploaded Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.46
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.57
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",5.78
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.48
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.29
5,6.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",4.55
6,7.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.52
7,8.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.46
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.32
9,10.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.22
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.21
11,12.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.63
12,13.,"""Sugar""",Maroon 5,"January 14, 2015",3.57
13,14.,"""Sorry""",Justin Bieber,"October 22, 2015",3.47
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.45
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.41
16,17.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.34
17,18.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",3.29
18,19.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.16
19,20.,"""Faded""",Alan Walker,"December 3, 2015",3.16
20,21.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.14
21,22.,"""Lean On""",Major Lazer,"March 22, 2015",3.11
22,23.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.11
23,24.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.10
24,25.,"""Let Her Go""",Passenger,"July 25, 2012",3.09
25,26.,"""Axel F""",Crazy Frog,"June 16, 2009",3.04
26,27.,"""Mi Gente""",J Balvin,"June 29, 2017",2.99
27,28.,"""Perfect""",Ed Sheeran,"November 9, 2017",2.98
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",2.96
29,30.,"""Hello""",Adele,"October 22, 2015",2.89

2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [14]:
driver= webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe')
driver

In [15]:
driver.get('https://www.bcci.tv/')
driver.maximize_window()

In [17]:
#clickin on International tab
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [18]:
#clicking on Fixtures
driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()

In [20]:
#creating the empty list
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [21]:
#scraping the title
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong"):
    Title.append(i.text.replace('\n',' '))

In [22]:
Title

['Match 16',
 'Match 28',
 'Match 33',
 'Match 37',
 'Match 42',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '1st Test',
 '2nd Test',
 '1st Test',
 '2nd Test',
 '3rd Test',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st T20I',
 '2nd T20I',
 '3rd T20I',
 '4th T20I']

In [23]:
#scraping the series
for i in driver.find_elements_by_xpath("//div[@class='fixture__teams']"):
    Series.append(i.text.replace('\n',' '))

In [24]:
Series

['INDIA v PAKISTAN',
 'INDIA v NEW ZEALAND',
 'INDIA v AFGHANISTAN',
 'INDIA v B1',
 'INDIA v A2',
 'INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'INDIA v NEW ZEALAND',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA',
 'SOUTH AFRICA v INDIA']

In [25]:
#scraping the place
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
    Place.append(i.text.replace('\n',' '))
    
#scraping the date
date= driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
for i in range(len(date)):
    Date.append(date[i].text.split('\n')[0] + date[i].text.split('\n')[1])

#scraping the time
for i in driver.find_elements_by_xpath("//span[@class='fixture__time']"):
    Time.append(i.text)

In [26]:
#creating the DataFrame
Fixtures={'Title':Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time}
Fixtures=pd.DataFrame(data=Fixtures)
Fixtures

,Title,Series,Place,Date,Time
0,Match 16,INDIA v PAKISTAN,"Dubai International Stadium, Dubai",24OCTOBER,19:30 IST
1,Match 28,INDIA v NEW ZEALAND,"Dubai International Stadium, Dubai",31OCTOBER,19:30 IST
2,Match 33,INDIA v AFGHANISTAN,"Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER,19:30 IST
3,Match 37,INDIA v B1,"Dubai International Stadium, Dubai",05NOVEMBER,19:30 IST
4,Match 42,INDIA v A2,"Dubai International Stadium, Dubai",08NOVEMBER,19:30 IST
5,1st T20I,INDIA v NEW ZEALAND,"Sawai Mansingh Stadium, Jaipur",17NOVEMBER,19:00 IST
6,2nd T20I,INDIA v NEW ZEALAND,"JSCA International Stadium Complex, Ranchi",19NOVEMBER,19:00 IST
7,3rd T20I,INDIA v NEW ZEALAND,"Eden Gardens, Kolkata",21NOVEMBER,19:00 IST
8,1st Test,INDIA v NEW ZEALAND,"Green Park, Kanpur",25NOVEMBER,09:30 IST
9,2nd Test,INDIA v NEW ZEALAND,"Wankhede Stadium, Mumbai",03DECEMBER,09:30 IST
10,1st Test,SOUTH AFRICA v INDIA,"New Wanderers Stadium, Johannesburg",17DECEMBER,13:30 IST
11,2nd Test,SOUTH AFRICA v INDIA,"Supersport Park, Centurion",26DECEMBER,13:30 IST
12,3rd Test,SOUTH AFRICA v INDIA,"New Wanderers Stadium, Johannesburg",03JANUARY,13:30 IST
13,1st ODI,SOUTH AFRICA v INDIA,"Boland Park, Paarl",11JANUARY,14:00 IST
14,2nd ODI,SOUTH AFRICA v INDIA,"Newlands, Cape Town",14JANUARY,14:00 IST
15,3rd ODI,SOUTH AFRICA v INDIA,"Newlands, Cape Town",16JANUARY,14:00 IST
16,1st T20I,SOUTH AFRICA v INDIA,"Newlands, Cape Town",19JANUARY,19:30 IST
17,2nd T20I,SOUTH AFRICA v INDIA,"Newlands, Cape Town",21JANUARY,19:30 IST
18,3rd T20I,SOUTH AFRICA v INDIA,"Boland Park, Paarl",23JANUARY,19:30 IST
19,4th T20I,SOUTH AFRICA v INDIA,"Boland Park, Paarl",26JANUARY,19:30 IST

3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
    
You need to find following details:
A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [27]:
driver= webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32 (2)\chromedriver.exe')
driver

In [33]:
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [38]:
search_bar2=driver.find_element_by_xpath("//input[@class='gsc-input']")

In [39]:
try:
    search_bar2.send_keys("Selenium Exception Handling")
except ElementNotInteractableException as e:
    search_bar2.send_keys("Selenium Exception Handling")

In [40]:
try:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")
except NoSuchElementException as e:
    search_btn=driver.find_element_by_xpath("//td[@class='gsc-search-button']")

In [41]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [42]:
try:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")
except NoSuchElementException as e:
    search_btn1=driver.find_element_by_xpath("//a[@data-ctorig='https://www.guru99.com/exception-handling-selenium.html']")

In [43]:
exception_names=[]
try:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)
        
except StaleElementReferenceException as e:
    next_link=search_btn1.get_attribute("href")
    search_btn1.click()
    driver.get(next_link)
    driver.get(driver.current_url)
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
    for a in search_exception_details:
        exception_names.append(a.text)


exception_names

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [44]:
exception_=[]
try:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_.append(a.text)
        
except StaleElementReferenceException as e:
    
    search_exception_details=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
    for a in search_exception_details:
        exception_.append(a.text)


exception_

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [45]:
Nos=[]
for i in range(1,len(exception_names)+1):
    Nos.append(i)
selenium_exception=pd.DataFrame({})
selenium_exception['Nos']=Nos
selenium_exception['Exception name']=exception_names    
selenium_exception['Description']=exception_
selenium_exception.style.hide_index()

4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/
    
You have to find following details:
A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [46]:
driver.get('http://statisticstimes.com/')
driver.maximize_window()

In [47]:
#getting to the Indian page under economy tab
page=driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]")
driver.get(page.get_attribute('href'))

In [48]:
#clicking on GDP of indian states
driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").click()

In [49]:
#creating the empty list
Rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]

#scraping for name
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[1]"):
    Rank.append(i.text)

#scraping for state name
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]"):
    state.append(i.text)

#scraping for GSDP1
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]"):
    GSDP1.append(i.text)

#scraping for GSDP1
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]"):
    GSDP2.append(i.text)
    
#scraping for share
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]"):
    share.append(i.text)
    
#scraping for GDP
for i in driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]"):
    GDP.append(i.text)

In [50]:
#creating the DataFrame
GDP_State={'Rank':Rank,'State':state,'GSDP 19-20':GSDP1,'GSDP 18-19':GSDP2,'Share 18-19':share,'GDP':GDP}
GDP_State=pd.DataFrame(data=GDP_State)
GDP_State

   Rank                      State GSDP 19-20 GSDP 18-19 Share 18-19      GDP
0     1                Maharashtra          -  2,632,792      13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208       8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764       8.39%  240.726
3     4                    Gujarat          -  1,502,899       7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127       7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898       5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586       4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957       4.57%  131.083
8     9                  Telangana    969,604    861,031       4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592       4.29%  122.977
10   11                     Kerala          -    781,653       4.14%  118.733
11   12                      Delhi    856,112    774,870       4.10%  117.703
12   13                    Haryana    831,610    734,163       3.89%  111.519
13   14                      Bihar    611,804    530,363       2.81%   80.562
14   15                     Punjab    574,760    526,376       2.79%   79.957
15   16                     Odisha    521,275    487,805       2.58%   74.098
16   17                      Assam          -    315,881       1.67%   47.982
17   18               Chhattisgarh    329,180    304,063       1.61%   46.187
18   19                  Jharkhand    328,598    297,204       1.57%   45.145
19   20                Uttarakhand          -    245,895       1.30%   37.351
20   21            Jammu & Kashmir          -    155,956       0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845       0.81%   23.369
22   23                        Goa     80,449     73,170       0.39%   11.115
23   24                    Tripura     55,984     49,845       0.26%    7.571
24   25                 Chandigarh          -     42,114       0.22%    6.397
25   26                 Puducherry     38,253     34,433       0.18%    5.230
26   27                  Meghalaya     36,572     33,481       0.18%    5.086
27   28                     Sikkim     32,496     28,723       0.15%    4.363
28   29                    Manipur     31,790     27,870       0.15%    4.233
29   30                   Nagaland          -     27,283       0.14%    4.144
30   31          Arunachal Pradesh          -     24,603       0.13%    3.737
31   32                    Mizoram     26,503     22,287       0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -           -        -

5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [51]:
driver.get('https://github.com/')
driver.maximize_window()

In [52]:
#clicking on trending
trending=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
driver.get(trending.get_attribute('href'))

In [53]:
#creating the empty list
name=[]
url=[]
desc=[]
count=[]
lang=[]

In [54]:
#getting the url of all the repository
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    url.append(i.get_attribute('href'))

#scraping the name
for i in driver.find_elements_by_xpath("//span[@class='text-normal']"):
    name.append(i.text.replace(' /',''))
                
for i in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
    desc.append(i.text)
 
 #looping through urls to scrape other details

for i in url:
    driver.get(i)

#scraping for count
    count1=driver.find_elements_by_xpath("//div[@class='BorderGrid-cell']/h2/a/span")
    try:
        count.append((count1[-1].text))
    except:
        count.append('-')
        
#scraping for language
    language= driver.find_elements_by_xpath("//ul[@class='list-style-none']")
    try:
        lang.append((language[-1].text.replace('\n',' ')))
    except:
        lang.append('-')

In [58]:
#creating the dataframe
Github={'Repository Title':name[0:20],'Repository description':desc[0:20],'Contributors count':count[0:20],'Language used':lang[0:20]}
Github=pd.DataFrame(data=Github)
Github

,Repository Title,Repository description,Contributors count,Language used
0,WorkerLivesMatter,The Hybrid Vue(3) Framework.,2,
1,nuxt,"GoPlus - The Go+ language for engineering, STE...",35,TypeScript 92.5% JavaScript 6.9% Other 0.6%
2,goplus,你想知道的前端内容都在这,22,Go 99.9% Other 0.1%
3,KieSun,Universal MCT wrapper script for all Windows 1...,19,JavaScript 100.0%
4,AveYo,Official open source SVG icon library for Boot...,,Batchfile 100.0%
5,twbs,📝 Algorithms and data structures implemented i...,22,HTML 95.1% JavaScript 3.5% Handlebars 1.4%
6,trekhleb,Lenia - Mathematical Life Forms,143,JavaScript 100.0%
7,Chakazul,"This is an official implementation for ""Swin T...",7,Python 57.0% JavaScript 36.9% MATLAB 6.1%
8,microsoft,Official PyTorch implementation of StyleGAN3,6,Python 100.0%
9,NVlabs,采用自身模块规范编写的前端 UI 框架，遵循原生 HTML/CSS/JS 的书写形式，极低门...,3,Python 78.4% Cuda 16.3% C++ 5.2% Dockerfile 0.1%
10,sentsin,A complete solution to package and build a rea...,17,JavaScript 81.3% CSS 18.7%
11,electron-userland,Code for the manim-generated scenes used in 3b...,379,TypeScript 89.1% NSIS 6.8% JavaScript 3.2% She...
12,3b1b,研究生数学建模，本科生数学建模、数学建模竞赛优秀论文，数学建模算法，LaTeX论文模板，算法...,4,Python 100.0%
13,zhanwen,⭐⭐⭐⭐秒杀系统设计与实现.互联网工程师进阶与分析🙋🐓,2,TeX 83.4% MATLAB 13.1% M 3.5%
14,qiurunze123,"Ultimate Solidity, Blockchain, and Smart Contr...",5,Java 90.3% FreeMarker 5.3% HTML 3.2% PHP 1.1% ...
15,smartcontractkit,Curated list of project-based tutorials,,
16,practical-tutorials,👩‍💻👨‍💻 Awesome cheatsheets for popular program...,91,
17,LeCoupa,"Open-source IoT Platform - Device management, ...",108,JavaScript 53.0% CSS 18.1% Shell 15.8% PHP 9.0...
18,thingsboard,前端精读周刊。帮你理解最前沿、实用的技术。,128,Java 63.2% TypeScript 25.9% HTML 6.2% SCSS 2.1...
19,ascoders,"Node.js library to automate Chromium, Firefox ...",53,JavaScript 100.0%

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
    
You have to find the following details:
    
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [60]:
driver.get('https://www.billboard.com/')

In [61]:
driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a").click()

In [62]:
Song_Name=[]
Artist_Name=[] 
Last_Week_Rank=[] 
Peak_Rank=[]
Weeks_on_Board=[]

In [63]:
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    Song_Name.append(i.text)
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    Artist_Name.append(i.text)
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastweek:
    Last_Week_Rank.append(i.text)
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    Peak_Rank.append(i.text)
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    Weeks_on_Board.append(i.text)

In [64]:
TOP_100_SONGS=pd.DataFrame({})
TOP_100_SONGS['Song_name']=Song_Name
TOP_100_SONGS['Artist_name']=Artist_Name
TOP_100_SONGS['Last_week_rank']=Last_Week_Rank
TOP_100_SONGS['Peak_rank']=Peak_Rank
TOP_100_SONGS['Weeks_on_board']= Weeks_on_Board
TOP_100_SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Stay,The Kid LAROI & Justin Bieber,2,1,13
1,Industry Baby,Lil Nas X & Jack Harlow,3,2,11
2,Fancy Like,Walker Hayes,5,3,16
3,Way 2 Sexy,Drake Featuring Future & Young Thug,4,1,5
4,Bad Habits,Ed Sheeran,6,2,15
...,...,...,...,...,...
95,Esta Danada,Ivan Cornejo,-,96,1
96,Whiskey And Rain,Michael Ray,-,97,1
97,TSU,Drake,84,9,5
98,Love All,Drake Featuring JAY-Z,87,10,5
99,No Where,YoungBoy Never Broke Again,40,40,2

7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [73]:
from bs4 import BeautifulSoup

In [75]:
driver.get('https://www.naukri.com/')

In [76]:
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

In [77]:
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [78]:
Name=[]
Designation=[] 
Company=[] 
Skills_they_hire_for=[] 
Location=[]

In [79]:
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills_they_hire_for.append(i.text)
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except NoSuchElementException:        
        Location.append("---")

In [80]:
Data_Science=pd.DataFrame({})
Data_Science['Name']=Name[0:48]
Data_Science['Designation']=Designation[0:48]
Data_Science['Company']=Company[0:48]
Data_Science['Skills they Hire for']= Skills_they_hire_for[0:48]
Data_Science['Location']=Location[0:48]
Data_Science

,Name,Designation,Company,Skills they Hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
34,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
35,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
36,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore

8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [83]:
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [84]:
#creating the empty list
name=[]
author=[]
volume=[]
publisher=[]
genre=[]

#scraping for name
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]"):
    name.append(i.text)

#scraping for author
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]"):
    author.append(i.text)

#scraping for volume
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]"):
    volume.append(i.text)

#scraping for publisher
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]"):
    publisher.append(i.text)

#scraping for genre
for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]"):
    genre.append(i.text)
    
#creating the Dataframe
Novels={'Book Name':name,'Author Name':author,'Volumes sold':volume,'Publisher':publisher,'Genre':genre}
Novels=pd.DataFrame(data=Novels)
Novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.

 Url = https://www.imdb.com/list/ls095964455/
        
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [85]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [86]:
#creating the empty list
name=[]
year=[]
genre=[]
runtime=[]
rating=[]
votes=[]

#scraping the details
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    name.append(i.text)
    
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    year.append(i.text)

for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    genre.append(i.text)
    
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    runtime.append(i.text)

for i in driver.find_elements_by_xpath("//*[@id='main']/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]"):
    rating.append(i.text)

for i in driver.find_elements_by_xpath("//span[@name='nv']"):
    votes.append(i.text)

#creating the dataframe
IMDB100={'Name':name,'Year Span':year,'Genre':genre,'Run time':runtime,'Ratings':rating,'Votes':votes}
IMDB100=pd.DataFrame(data=IMDB100)
IMDB100

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,884,134"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"917,338"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"905,401"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"271,136"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,486"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,939"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,817"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,579"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,963"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"204,654"

# 10. Details of Datasets from UCI machine learning repositories.

 Url = https://archive.ics.uci.edu/
        
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code

In [87]:
driver.get('https://archive.ics.uci.edu/')
time.sleep(4)

In [88]:
#clicking on view all dataset
dataset=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
driver.get(dataset.get_attribute('href'))

In [89]:
#creating the empty list
name=[]
datatype=[]
task=[]
attribute=[]
instances=[]
no_attribute=[]
year=[]

In [90]:
#scraping all the details
for i in driver.find_elements_by_xpath("//tr['@bgcolor=#003366']/td/table/tbody/tr/td[2]/p/b/a"):
    name.append(i.text)

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p"):
    datatype.append(i.text)
datatype=datatype[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p"):
    task.append(i.text)
task=task[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p"):
    attribute.append(i.text)
attribute=attribute[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p"):
    instances.append(i.text)
instances=instances[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p"):
    no_attribute.append(i.text)
no_attribute=no_attribute[1:]

for i in driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]/p"):
    year.append(i.text)
year=year[1:]

In [91]:
UCI={'Dataset Name':name,'Data Type':datatype,'Task':task,'Attribute Type':attribute,
    'No of Instances':instances,'No of Attribue':no_attribute,'Year':year}
UCI=pd.DataFrame(data=UCI)
UCI

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribue,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021